<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Sign Up</title>
</head>

<body>


    <form id="form" action="/signup" method="POST">
        <label for="username">Username<br>
    <input type="text" name="username" 
      placeholder="AnakinSkywalker" required></label>

        <br><br>
        <label for="email">Your Email<br>
        <input type="email" name="email" 
          placeholder="youremail" required></label>

        <br><br>
        <label for="password">Password<br>
        <input type="password" name="password" 
        placeholder="DeathStar" required></label>

        <br><br>
        <label for="password">Password<br>
        <input type="password" name="passwordRepeat"
        placeholder="Password" required></label>


        <button>Create account</button>
    </form>
    <p>Already an account ?
        <form id="form" action="/login" method="get">
            <button>log In</button>
        </form>

    </p>

    <% if (typeof(errorMessage) != "undefined") { %>
        <div class="error-message">
            <%= errorMessage %>
        </div>
        <% } %>
</body>

</html>